[Desktop Entry]
Name=GTasks
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/GTasks/GTasks.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
